* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #33475b;
  /* background-color: purple;  */
}
.page-header {
  height: 600px;
  background-color: pink;
  background-image: url("../img/img/jumbotron.png");
  background-size: 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #fff;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.prima-intestazione {

  /* height: 60px; */
  background-color: rgb(163, 229, 244);
  line-height: 50px;

}
.prima-intestazione:after {
  content:"";
  display: table;
  clear:both;
}
.lista-sinistra {
  float: left;
  width: 60%;
  /* height: 100%; */
  /* background-color: orange; */
}
.lista-destra {
  float: right;
  width: 40%;
  /* height: 100%; */
  text-align: right;
  /* background-color: yellow; */
}
.primi-due-link {
  list-style: none;
}
.primi-due-link li {
  display: inline;
  padding: 0 5px;
  text-decoration: none;
}
.primi-due-link a {
  color:rgba(23, 21, 22, 0.91);
  font-size: 14px;
}
/* .class fas fa-globe {
  margin-left: 20px;
} */
.bordo-laterale {
  border-left: 2px solid grey;
  margin-right: 10px;
  padding-left: 10px;
}
/* .float-right-nav ul li {
  float: right;
} */
a.button {
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
}
a.button:hover,
a.button:active,
a.button:focus {
  color: #fff;
}
a.button-orange {
  background-color: rgb(236, 139, 38);
}
a.button-big {
  padding: 20px 20px;
}
a.button-border {
  padding: 5px 20px;
  border: 1px solid orange;
}
.seconda-intestazione {
  height: 60px;
  background-color: white;
  line-height: 50px;
}
.seconda-intestazione:after {
  content:"";
  display: table;
  clear:both;
}
.posizionamento-logo {
  vertical-align: middle;
}
.logo {
  float: left;
  width: 30%;
  /* height: 100%; */
}
.menu {
  float: right;
  width: 70%;
  /* height: 100%; */
  text-align: right;
  padding-left: 30px;
}
.bannerone {
  position: relative;
  width: 85%;
  height: 550px;
  margin: 0 auto;
}
.testo-bannerone {
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  width: 30%;
  color: #000;
  font-size: 20px;
  /* margin-bottom: 10px; */

}
.testo-bannerone p {
  color:rgb(62, 58, 56);
  margin: 20px auto;
  line-height: 24px;
  /* padding: 10px 0; */

}
.sottotitolo {
  font-size: 10px;
  line-height: 2px;
}
.page-main {
  /* background-color: green; */
  width: 100%;
}
.prima-sezione {
  width: 100%;
  background-color: #f5f8fa;
  padding: 100px 0 50 px;
}
.container2 {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.logo-prima-sezione {
  height: 150px;
  margin-top: 50px;
  /* text-align: center; */
  /* padding: 30px; */
  }
.container2 h2 {
  color: grey bold;
  margin-bottom: 20px;
  /* text-align: center; */
}
.container2 p {
  margin-top: 20px;
  font-size: 20px;
}
.seconda-sezione {
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}
.seconda-sezione::after {
  content: "";
  display: table;
  clear: both;
}
.contenitore-destro {
  float:left;
  width: 40%;
  height: 100%;
  /* background-color: green; */
}
.contenitore-sinistro {
  float:right;
  width: 60%;
  vertical-align: middle;
  /* height: 100%; */
  /* background-color: red; */
}
.libro-aperto {
  width: 100%;
  height: 150px;
  /* max-width:100%; */
  vertical-align: middle;
  margin-bottom: 20px;
}
.contenitore-interno {
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto;
  vertical-align: baseline;
}
.titolo-seconda-sezione {
  margin-bottom: 20px;
  margin-top: 10px;
}
.contenitore-interno p {
  font-size: 15px;
  width: 70%;
}
.contenitore-interno2 {
  /* text-align: left; */
  margin-bottom: 10px;
  padding: 10px;
  width: auto;
}
.contenitore-interno2::after {
  content: "";
  display: table;
  clear:both;
}
.popular-feautures p {
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
}
.popular-feautures {
  float: left;
  width: 20%;
  text-align: left;
  margin-top: 20px;
}
.barra-spaziatrice {
  float: right;
  width: 42%;
  border: 1px solid grey;
}
.lista-check {
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto;
}
.checklist {
  list-style: none;
}
.checklist li {
  display:inline;
}
.terza-sezione {
  width: 100%;
  background-color: #f5f8fa;
}
.contenitore-centrale {
  width: 85%;
  margin: auto;
}
.contenitore-centrale:after {
  content: "";
  display:table;
  clear:both;
}
.float {
  float:left;
}
.col-destra {
  width: 31%;
  padding: 50px 50px;
  background-color: white;
  border: 1px solid grey;
  margin-top: 30px;
}
.col-centrale {
  width: 30%;
  margin: 0 2%;
  padding: 50px 50px;
  background-color: white;
  border: 1px solid grey;
  margin-top: 30px;
}
.col-sinistra {
  width: 31%;
  width: 31%;
  padding: 50px 50px;
  background-color: white;
  border: 1px solid grey;
  margin-top: 30px;
}
.img-box1 {
  height: 190px;
  margin: 15px 25px;
  vertical-align: middle;
}
.linea-di-spazio {
  border-style:
  border: 0.2px hidden grey;
  margin-top: 20px;
  padding: 0 10px;
}
.scritta-centrale {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.scritta-sottosezione {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: bold;
}
.lista-popular {
  list-style: none;
}
.fi-cwsuxl-check {
  color: rgb(236, 139, 38);
}
.lista-popular li {
  font-size: 15px;
  margin-bottom: 10px;
}
a.button-centrale {
  margin-top: 20px;
  /* margin-right: 50%; */
  line-height: 40px;
  padding: 0 30px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(236, 139, 38);
  vertical-align: middle;
}
