* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #33475b;
  /* background-color: purple;  */
}
.page-header {
  height: 600px;
  background-color: pink;
  background-image: url("../img/img/jumbotron.png");
  background-size: 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #fff;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.prima-intestazione {

  /* height: 60px; */
  background-color: rgb(163, 229, 244);
  line-height: 50px;

}
.prima-intestazione:after {
  content:"";
  display: table;
  clear:both;
}
.lista-sinistra {
  float: left;
  width: 60%;
  /* height: 100%; */
  /* background-color: orange; */
}
.lista-destra {
  float: right;
  width: 40%;
  /* height: 100%; */
  text-align: right;
  /* background-color: yellow; */
}
.primi-due-link {
  list-style: none;
}
.primi-due-link li {
  display: inline;
  padding: 0 5px;
  text-decoration: none;
}
.primi-due-link a {
  color:rgba(23, 21, 22, 0.91);
  font-size: 14px;
}
/* .class fas fa-globe {
  margin-left: 20px;
} */
.bordo-laterale {
  border-left: 2px solid grey;
  margin-right: 10px;
  padding-left: 10px;
}
/* .float-right-nav ul li {
  float: right;
} */
a.button {
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  line-height: 22px;
}
a.button:hover,
a.button:active,
a.button:focus {
  color: #fff;
}
a.button-orange {
  background-color: rgb(236, 139, 38);
}
a.button-big {
  padding: 20px 20px;
}
a.button-border {
  padding: 5px 20px;
  border: 1px solid orange;
}
.seconda-intestazione {
  height: 60px;
  background-color: white;
  line-height: 50px;
}
.seconda-intestazione:after {
  content:"";
  display: table;
  clear:both;
}
.posizionamento-logo {
  vertical-align: middle;
}
.logo {
  float: left;
  width: 30%;
  /* height: 100%; */
}
.menu {
  float: right;
  width: 70%;
  /* height: 100%; */
  text-align: right;
  padding-left: 30px;
}
/* .posizionamento-logo {
  line-height: 50%;
} */
.bannerone {
  position: relative;
  width: 85%;
  height: 550px;
  margin: 0 auto;
}
.testo-bannerone {
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  width: 30%;
  color: #000;
  font-size: 20px;
  /* margin-bottom: 10px; */

}
.testo-bannerone p {
  color:rgb(62, 58, 56);
  margin: 20px auto;
  line-height: 24px;
  /* padding: 10px 0; */

}
.sottotitolo {
  font-size: 10px;
  line-height: 2px;
}
.page-main {
  /* background-color: green; */
  width: 100%;
}
.prima-sezione {
  width: 100%;
  background-color: #f5f8fa;
  padding: 100px 0 50 px;
}
.container2 {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.logo-prima-sezione {
  height: 150px;
  margin-top: 50px;
  /* text-align: center; */
  /* padding: 30px; */
  }
.container2 h2 {
  color: grey bold;
  margin-bottom: 20px;
  /* text-align: center; */
}
.container2 p {
  margin-top: 20px;
  font-size: 20px;
}
